<div class="calendar">
  <div class="container">
    <article>
      <header>
        <h1>Select date and duration</h1>
      </header>
      <body>
      <div style="display: flex; justify-content: space-between">
        <input style="width: 80%" type="range" min="1" [max]="maxAmountOfDays" [(ngModel)]="amountOfDays">
        <span *ngIf="amountOfDays > 1">{{ amountOfDays }} Days</span>
        <span *ngIf="amountOfDays == 1">{{ amountOfDays }} Day</span>
      </div>
      <table>
        <thead>
        <tr>
          <th colspan="7"><h3>{{ calendarData.month }} {{ calendarData.year }}</h3>
          </th>
        </tr>
        </thead>
        <thead>
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let week of weeks">
          <td *ngFor="let day of week.days" [class]="isDayInSelection(day.dateDate) ? 'date-selected' : ''">
            <div [classList]="isDayInSelection(day.dateDate) ? 'date-selected' :''">
            </div>
            <div [class]="day.booked || day.past ? 'date-booked' : 'date-available'">
              <div [class]=" day.isOtherMonth ? 'date-other-month' : ''">
              <span (click)="selectDate(day.dateDate)">
                {{ day.date }}
              </span>
              </div>
            </div>
          </td>
        </tr>
      </table>
      </body>
    </article>
  </div>
</div>