div.grid {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header {
      text-align: center;
      font-family: "Inter Extra Bold", sans-serif;
      font-size: 1.5rem;
    }

    footer {
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.025);
      transition: 0.15s ease-in-out;
    }

    &:not(hover) {
      transition: 0.15s ease-in-out;
    }

    .username {
      text-align: center;
    }

    .price {
      text-align: center;
      margin-bottom: 0;
      color: #94e2d5 !important;
      font-family: "Inter Extra Bold", sans-serif;
    }
  }
}

div.house-images {
  img {
    margin-top: 1rem;

    &:hover {
      transform: scale(1.025);
      transition: 0.15s ease-in-out;
    }

    &:not(hover) {
      transition: 0.15s ease-in-out;
    }
  }
}