/* You can add global styles to this file, and also import other style files */

@import "ngx-toastr/toastr";

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0 !important;
  color: #cdd6f4 !important;
}

span, p, div {
  color: #cdd6f4 !important;
}

input[type="text"], input[type="password"] {
  color: #eba0ac !important;
  font-family: "JetBrainsMono NF", monospace;
}